<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="AppId" value="884427038267146" />
    <add key="AppSecret" value="0a60d73f092c689208699724f8b0933d"/>
    <add key="delimiter" value="|"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ElComFBConnector.FBApiConnector" behaviorConfiguration="mexBehavior">
        <endpoint address="FBApiConnector" binding="webHttpBinding" contract="ElComFBConnector.IFBApiConnector" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
