ElComFBConnector/ElComFBConnector/bin*
ElComFBConnector/ElComFBConnector/bin/*
ElComFBConnector/ElComFBConnector/bin/Debug/*
ElComFBConnector/ElComFBConnector/bin/Release/*
ElComFBConnector/ElComFBConnector/obj*
ElComFBConnector/ElComFBConnector/obj/*
ElComFBConnector/ElComFBConnector/obj/Debug/*
ElComFBConnector/ElComFBConnector/obj/Debug/TempPE/*
ElComFBConnector/ElComFBConnector/obj/Release/*

ElComFBConnector/ElComFBConnectorHostApp/bin*
ElComFBConnector/ElComFBConnectorHostApp/bin/*
ElComFBConnector/ElComFBConnectorHostApp/bin/Debug/*
ElComFBConnector/ElComFBConnectorHostApp/bin/Release/*
ElComFBConnector/ElComFBConnectorHostApp/obj*
ElComFBConnector/ElComFBConnectorHostApp/obj/*
ElComFBConnector/ElComFBConnectorHostApp/obj/x86/*
ElComFBConnector/ElComFBConnectorHostApp/obj/x86/Debug/*
ElComFBConnector/ElComFBConnectorHostApp/obj/x86/Debug/TempPE/*
ElComFBConnector/ElComFBConnectorHostApp/obj/Release/*